:app = http://127.0.0.1:3000

# get all users
GET :app/user

# get an specific user
GET :app/user/887

# post new user
POST :app/user
Content-Type: application/json

{
  "cc" : "1",
  "name" : "maribel"
}

# actualizar un objeto
PUT :app/user/1
Content-Type: application/json

{
  "name" : "marisol"
}

#Delete
DELETE :app/user/1

# get only head no body
HEAD :app
